<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="report-header1-left">
          <h6>Sở giáo dục và đào tạo</h6>
          <h6>THPT Trần Hưng Đạo</h6>
          <!-- <h6>Báo cáo số:</h6> -->
        </div>
        <div class="report-header2-right">
          <h6>Cộng hòa xã hội chủ nghĩa Việt Nam</h6>
          <h6>Độc lập - Tự do - Hạnh phúc</h6>
          <% let date = new Date() %>
            <h6>Ngày
              <%- date.getDate() %> tháng
                <%- date.getMonth() %> năm
                  <%- date.getFullYear() %>
            </h6>
        </div>
      </div>
      <div class="card-body">
        <h1 class="card-title">
          <center>BẢNG ĐIỂM TBM LỚP</center>
        </h1>
        <h6>
          <pre>Tên Lớp: <%- classDetail.className %></pre>
        </h6>
        <h6>
          <pre>GVCN: <%- classDetail.name %></pre>
        </h6>
        <% date = new Date(academicYear) %>
          <h6>
            <pre>Năm học: <%- date.getFullYear() %> - <%- date.getFullYear() + 1%></pre>
          </h6>
          <div class="table-responsive m-t-40">
            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>
                    <center>STT</center>
                  </th>
                  <th>
                    <center>Tên học sinh</center>
                  </th>
                  <% col.map(item => { %>
                    <th>
                      <center>
                        <%- item %>
                      </center>
                    </th>
                    <% }) %>
                </tr>
              </thead>
              <tbody>
                
                  <% grade.map((item, index) => { %>
                    <tr>
                    <td>
                      <%- index + 1 %>
                    </td>
                    <td>
                      <%- item.studentName %>
                    </td>
                    <% let temp = item.subjects %>
                      <% col.map(subject => {
                        temp.map(grade => {
                          if (grade.subjectName == subject) { %>
                            <td>
                              <%- grade.points %>
                            </td>
                        <% }
                          })
                        }) %>
                      </tr>
                    <% }) %>
                
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>