<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <title>Báo cáo</title>
  <%- include('../partials/stylesheet') %>

</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include('../partials/header')%>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <%- include('../partials/menu')%>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">Report</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Report</li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <div class="container-fluid">
           <%- include('./classReportChart') %>
            
            <%- include('./classReportDetail') %>
            
            <!-- Start Page Content -->
          
            <!-- footer -->
            <%- include('../partials/footer') %>
              <!-- End footer -->
          <!-- End Page wrapper  -->
        <%- include('../partials/scripts') %>
        <%- include('../partials/export') %>
        <!-- Echart -->
          </div>
        </div>
  </div>
  <script src='/js/lib/echart/echarts.js' type="text/javascript"></script>
  <script src='/js/lib/chart-js/Chart.bundle.js' type="text/javascript"></script>
  <script>
    $(document).ready(function() {

      var dom = document.getElementById("basic-Pie_1");
      var bpChart = echarts.init(dom);

      var app = {};
      option = null;
      option = {
          color: ['#62549a','#4aa9e9', '#ff6c60','#eac459', '#25c3b2' ],
          tooltip : {
              trigger: 'item',
              formatter: '{a} <br/>{b} : {c} ({d}%)'
          },
          legend: {
              orient : 'vertical',
              x : 'left',
              data:['Giỏi','Khá','Trung bình','Yếu', 'Ở lại']
          },
          calculable : true,
          series : [
              {
                  name:'Source',
                  type:'pie',
                  radius : '55%',
                  center: ['50%', '60%'],
                  data:[
                      <% if (studentType.good != 0) {%>{value:'<%= studentType.good %>', name:'Giỏi'},<%}%>
                      <% if (studentType.normal != 0) {%>{value:'<%= studentType.normal %>', name:'Khá'},<%}%>
                      <% if (studentType.average != 0) {%>{value:'<%= studentType.average %>', name:'Trung bình'},<%}%>
                      <% if (studentType.week != 0) {%>{value:'<%= studentType.week %>', name:'Yếu'},<%}%>
                      <% if (studentType.retention != 0) {%>{value:'<%= studentType.retention %>', name:'Ở lại'},<%}%>
                  ]
              }
          ]
      };

      if (option && typeof option === "object") {
          bpChart.setOption(option, false);
      }
    })
  </script>
  <script>
    $(document).ready(function() {
      var ctx = document.getElementById( "singelBarChart_1" );
      ctx.height = 150;
      var myChart = new Chart( ctx, {
        type: 'bar',
        data: {
          labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10" ],
          datasets: [
            {
              label: "Số lượng",
              // data: [ 40, 55, 75, 78, 56, 55, 40, 12, 31, 13, 13 ],
              data: [<%= points %>],
              borderColor: "rgba(0, 123, 255, 0.9)",
              borderWidth: "0",
              backgroundColor: "rgba(0, 123, 255, 0.5)"
                                }
                            ]
        },
        options: {
          scales: {
            yAxes: [ {
              ticks: {
                beginAtZero: true
              }
                                    } ]
          }
        }
      } );
    });
  </script>
</body>

</html>