<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <title>Báo cáo</title>
  <%- include('../partials/stylesheet') %>
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include('../partials/header')%>
      <!-- End header header -->
      <!-- Left Sidebar  -->
      <%- include('../partials/menu')%>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Report</li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h5>
                      <pre>Sở giáo dục và đào tạo                                                                                                 Cộng hòa xã hội chủ nghĩa Việt Nam</pre>
                    </h5>
                    <h5>
                      <pre>THPT Trần Hưng Đạo                                                                                                         Độc lập - Tự do - Hạnh phúc</pre>
                    </h5>
                    <h5>
                      <pre>Báo cáo số:                                                                                                                 Ngày xx tháng xx năm xxxx</pre>
                    </h5>
                    <h1 class="card-title">
                      <center>BẢNG ĐIỂM HỌC SINH</center>
                    </h1>
                    <h6>
                      <pre>Tên học sinh: </pre>
                    </h6>
                    <h6>
                      <pre>Lớp:</pre>
                    </h6>
                    <h6>
                      <pre>Học kì: 2           Năm học:</pre>
                    </h6>
                    <div class="table-responsive m-t-40">
                      <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>Môn học</th>
                            <th>Miệng</th>
                            <th>15'</th>
                            <th>1 tiết</th>
                            <th>Cuối kì</th>
                            <th>TBM</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Toán</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Ngữ Văn</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Tiếng Anh</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>Vật Lý</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>Hóa Học</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>Sinh Học</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>Địa Lý</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>GDCD</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>9</td>
                            <td>Lịch Sử</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>10</td>
                            <td>Thể Dục</td>
                            <td>6</td>
                            <td>7</td>
                            <td>9</td>
                            <td>5</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Container fluid  -->
            <!-- footer -->
            <%- include('../partials/footer') %>
              <!-- End footer -->
          </div>
          <!-- End Page wrapper  -->
        </div>
        <%- include('../partials/scripts') %>
</body>

</html>