<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <title>Học sinh</title>
  <%- include('../partials/stylesheet') %>
</head>

<body class="fix-header fix-sidebar">
  <!-- Preloader - style you can find in spinners.css -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- Main wrapper  -->
  <div id="main-wrapper">
    <!-- header header  -->
    <%- include('../partials/header') %>
      <!-- End header header -->

      <!-- Left Sidebar  -->
      <%- include('../partials/menu')%>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
          <!-- Bread crumb -->
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-primary">Student</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Student</li>
                <li class="breadcrumb-item active">Find</li>
              </ol>
            </div>
          </div>
          <!-- End Bread crumb -->
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Start Page Content -->

            <form method="POST" action="/student/find">
              <div class="form-group">
                <p class="text-muted m-b-15 f-s-12">Tìm kiếm thông tin học sinh</p>
                <div class="input-group input-group-rounded">
                  <input type="text" placeholder="Nhập họ tên học sinh bạn muốn tìm kiếm" name="personName" class="form-control">
                  <select name="academicYearID" class="form-control custom-select">
                    <% academicYear.map((value, index) => { %>
                      <% let year = new Date(value.academicYear).getFullYear() %>
                      <option value=<%- value.academicYearID %>> Năm học <%- year %> - <%- year + 1 %> || Học kỳ <%- value.semester %> </option>
                    <% }) %>
                  </select>
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-group-right" type="submit">
                      <i class="ti-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </form>

            <% if (haveResult) { %>
            <div class="table-responsive m-t-40">
              <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Lớp</th>
                    <th>Họ tên học sinh</th>
                    <th>Giới tính</th>
                    <th>Họ tên phụ huynh</th>
                    <th>Số điện thoại phụ huynh</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>STT</th>
                    <th>Lớp</th>
                    <th>Họ tên học sinh</th>
                    <th>Giới tính</th>
                    <th>Họ tên phụ huynh</th>
                    <th>Số điện thoại phụ huynh</th>
                  </tr>
                </tfoot>
                <tbody>
                  <% studentList.map((value, index) => { %>
                    <tr>
                      <td>
                        <%- index + 1 %>
                      </td>
                      <td>
                        <%- value.className %>
                      </td>
                      <td>
                        <%- value.firstName + " " + value.lastName %>
                      </td>
                      <td>
                        <%- value.gender ? "Cú có gai" : "Trai bị thiến" %>
                      </td>
                      <td>
                        <%- value.parentalName %>
                      </td>
                      <td>
                        <%- value.parentalTelephone %>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
            <% } %>

            <!-- footer -->
            <%- include('../partials/footer') %>
              <!-- End footer -->
          </div>
          <!-- End Page wrapper  -->
        </div>
        <%- include('../partials/scripts') %>
        <script src="/js/lib/datatables/datatables.min.js"></script>
        <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
        <script src="/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <script src="/js/lib/datatables/datatables-init.js"></script>

</body>

</html>